<br>
<br>
<br>
<br>
<br>
<br>
<div class="content">

        <h1 class="logo">Contacta<span>nos</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>Contacto</h3>
                <form action="/Contactos" method="POST">
                    <p>
                        <label>Nombre Completo</label>
                        <input type="text" name="Nombre">
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="Asunto">
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Numero de Telefono</label>
                        <input type="tel" name="Celular">
                    </p>
                    
                    <p class="block">
                       <label>Mensaje</label> 
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>Mas Info</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Alameda oeste calle limoncillo #20</li>
                    <li><i class="fas fa-phone"></i> +1 005-040-0404</li>
                    <li><i class="fas fa-envelope-open-text"></i> santiagomoises700@gmail.com</li>
                </ul>
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22681.35262363345!2d-69.89781124537814!3d18.461145869349135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x178377c237d7a0ca!2sHighSchool.com.do!5e0!3m2!1ses!2sdo!4v1622396288675!5m2!1ses!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>

                </p>
            </div>
        </div>

    </div>
    <img src="Mi video.gif" width="200px" id="an">
    <div>
    <Audio controls>
        <source src="Mi video.mp3" type="audio/mp3">
    </Audio>
    </div>