<!--banner-->
    <section class="banner" id="Header">
        <h2>Haciendo que la<br> tecnología se vuelva<br> <span>nada</span>
        </h2>
    </section>
    <!--Quienes Somos-->
    <section class="Seg" id="Quienes Somos">
        <div class="content"> 
        <div class="mxw800p">
            <h3>Quienes Somos</h3>
            <p>Somos una nueva empresa de tecnología de consumo con sede en New York con la misión de eliminar las barreras entre las personas
                 y la tecnología mediante el diseño de tecnología intuitiva e inteligente que mejore nuestras vidas sin estorbar. Recuperando el arte, la pasión y la confianza,
                  nuestra tecnología ayudará a las personas a descubrir experiencias nuevas y significativas no solo en la electrónica de consumo,
                 sino también en la vida.</p>
                 <a href="#" class="btn">Contactanos</a>
                 
        </div>
        </div>
    </section>
    <!--Productos Principal -->
    <section class="Seg2" id="ProductosPrincipales">
        <div class="content"> 
        <div class="mxw800p">
            <h3>Productos Principales</h3>
        </div>
        <div class="ProductosPrincipales">
        <div class="box">
        <div class="iconBx">
            <div class="imagen-port">
            <img src="CelularN.png" height="400" width="400">
            <div class="hover-galeria">
                <p>El mejor movil</p>
            </div>
        </div>
        </div>
        <div class="content">
            <h2>Nothing Phone One</h2>
            <p>El smartphone perfecto para los amantes de la velocidad y la elegancia.</p>
            <a href="#" class="btn">Contactanos</a>
        </div>
        </div>
            <div class="box">
                <div class="iconBx">
                    <div class="imagen-port">
                    <img src="RelojN.png" height="400" width="370">
                    <div class="hover-galeria">
                        <p>El mejor reloj</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Nothing Whatch One</h2>
                    <p>El mejor reloj para los amantes del deporte y la elegancia.</p>
                    <a href="#" class="btn">Contactanos</a>
                </div>
                </div>
                <div class="box">
                    <div class="iconBx">
                        <div class="imagen-port">
                        <img src="AudifonosN.png" height="400" width="400">
                        <div class="hover-galeria">
                            <p>Los mejores audifonos</p>
                    </div>
                        </div>
                    <div class="content">
                        <h2>Nothing In ear One</h2>
                        <p>Unos audífonos tan livianos y cómodos que los sentirás como <span>NADA</span>.</p>
                        <a href="#" class="btn">Contactanos</a>
                    </div>
                    </div>
        </div>
        </div>
        </section>
        


    <!--Caracteriscas-->
    <section class="Seg3" id="Caracterisca">
        <div class="content"> 
        <div class="mxw800p">
            <h3>Caracteriscas</h3>
            <img src="logo_transparent_background (4).png">
        </div>
        <div class="Boxca">
            <div class="box">
                <h2>Mejor Calidad</h2>
                <h4>Garantizamos tu satisfacción</h4>
                </div>
                <div class="box">
                    <h2>Soporte 24/7</h2>
                    <h4>Nuestro soporte telefónico está siempre disponible</h4>
                    </div>
                    <div class="box">
                        <h2>Precio</h2>
                        <h4>La mejor relación calidad-precio</h4>
                        </div>
        </div>
        </div>
    </section>

       <script src="JS/gotup.js"></script>
    <div id="button-up">
   <i class="fas fa-chevron-up" ></i>
</div>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
     <script type="text/javascript">
    window.addEventListener("scroll", function(){
        var Header = document.querySelector("Header");
        Header.classList.toggle("sticky", window.scrollY > 0);
    })
    function toggle(){
        var Header = document.querySelector("Header");
        Header.classList.toggle("active");
    }
    </script>

