<div class="footer-basic">
        <footer>
            <div class="social"></a><a href="https://www.youtube.com/channel/UCRqzTgW8GTbZdw5usjgnHiQ"><i class="ion-social-youtube"></i></a><a href="https://twitter.com/elonmusk"><i class="ion-social-twitter"></i></a><a href="https://www.facebook.com/zuck"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#Header">Inicio</a></li>
                <li class="list-inline-item"><a href="#Quienes Somos">Quienes Somos</a></li>
                <li class="list-inline-item"><a href="#ProductosPrincipales">Productos Principales</a></li>
                <li class="list-inline-item"><a href="#Caracterisca">Caracteriscas</a></li>
                <li class="list-inline-item"><a href="#Contactanos">Contactanos</a></li>
            </ul>
            <p class="copyright">Nothing © 2021</p>
        </footer>
    </div>