<!--Header-->
    <header id="Nothing">
        <a href="#Header" class="Logo"><img src="Logo2.png"></a>
        <ul>
            <li><a href="#Quienes Somos"onclick="toggle()"><a href="/">Quienes Somos</a></li></a>
            <li><a href="#ProductosPrincipales" onclick="toggle()"><a href="/">Productos Principales</a></li></a>
            <li><a href="#Caracterisca"onclick="toggle()">Caracterisca</a></li></a>
            <li><a href="/Contactos"onclick="toggle()">Contactanos</a></li>
            <li><a href="#Mas">Mas</a>
                <ul class="submenu">
                    <li><a href="/Video">Video</a></li>
                </ul>
            </li>
        </ul>
        <div class="Toggle" onclick="toggle()"></div>
        </header>